<div class="main-container">
    <div class="carousel-container">
        <app-carousel></app-carousel>
        <div class="down"><img src="https://img.icons8.com/officel/60/000000/expand-arrow.png"/></div>
    </div>
    <div class="products-container">
        <div class="product">
            <div class="item-header">
                <img src={{img[0]}} alt="">
            </div>
            <div class="info">
                <p>{{description[2]}}</p>
            </div>
            <div class="buttons-items">
                <a href="#">
                    <img src={{icons[0]}} alt="">
                    Comprar
                </a>
                <a href="#">
                    <img src={{icons[1]}} alt="">
                    Agregar al carrito
                </a>
            </div>
        </div>
        <div class="product">
            <div class="item-header">
                <img src={{img[1]}} alt="">
            </div>
            <div class="info">
                <p>{{description[1]}}</p>
            </div>
            <div class="buttons-items">
                <a href="#">
                    <img src={{icons[0]}} alt="">
                    Comprar
                </a>
                <a href="#">
                    <img src={{icons[1]}} alt="">
                    Agregar al carrito
                </a>
            </div>
        </div>
        <div class="product">
            <div class="item-header">
                <img src={{img[2]}} alt="">
            </div>
            <div class="info">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat praesentium enim atque, nulla temporibus tempore quidem? Tempore eius enim quis!</p>
            </div>
            <div class="buttons-items">
                <a href="#">
                    <img src={{icons[0]}} alt="">
                    Comprar
                </a>
                <a href="#">
                    <img src={{icons[1]}} alt="">
                    Agregar al carrito
                </a>
            </div>
        </div>
    </div>
    <div class="products-container">
        <div class="product">
            <div class="item-header">
                <img src={{img[3]}} alt="">
            </div>
            <div class="info">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat praesentium enim atque, nulla temporibus tempore quidem? Tempore eius enim quis!</p>
            </div>
            <div class="buttons-items">
                <a href="#">
                    <img src={{icons[0]}} alt="">
                    Comprar
                </a>
                <a href="#">
                    <img src={{icons[1]}} alt="">
                    Agregar al carrito
                </a>
            </div>
        </div>
        <div class="product">
            <div class="item-header">
                <img src={{img[4]}} alt="">
            </div>
            <div class="info">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat praesentium enim atque, nulla temporibus tempore quidem? Tempore eius enim quis!</p>
            </div>
            <div class="buttons-items">
                <a href="#">
                    <img src={{icons[0]}} alt="">
                    Comprar
                </a>
                <a href="#">
                    <img src={{icons[1]}} alt="">
                    Agregar al carrito
                </a>
            </div>
        </div>
        <div class="product">
            <div class="item-header">
                <img src={{img[5]}} alt="">
            </div>
            <div class="info">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat praesentium enim atque, nulla temporibus tempore quidem? Tempore eius enim quis!</p>
            </div>
            <div class="buttons-items">
                <a href="#">
                    <img src={{icons[0]}} alt="">
                    Comprar
                </a>
                <a href="#">
                    <img src={{icons[1]}} alt="">
                    Agregar al carrito
                </a>
            </div>
        </div>
    </div>
<app-footer></app-footer>    
</div>

