<div class="main-container">
    <div class="contact-container">
        <h1>Contact Information</h1>
        <a href="#"><img src={{icons[0]}} alt=""> Address</a>
        <a href="#"><img src={{icons[1]}} alt=""> Phone</a>
        <a href="#"><img src={{icons[2]}} alt=""> Email</a>
        <a href="#"><img src={{icons[3]}} alt=""> Days / Hours</a>
    </div>
    <div class="account-container">
        <h1>My Account</h1>
        <a href="#">About us</a>
        <a href="#">Contact us</a>
        <a href="#">My account</a>
        <a href="#">Order History</a>
    </div>
    <div class="main-feactures">
        <h1>Menu</h1>
        <a href="#">Populares</a>
        <a href="#">Los mas vendidos</a>
        <a href="#">Categorias</a>
        <a href="#">Busca tu producto</a>
    </div>
    <div class="form-container">
        <h1>Haz tu mundo mas facil.</h1>
    </div>
    <div class="footer-icons">
        <div class="icons">
        
        </div>
        <div class="info">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum aliquid repellendus adipisci.</p>
            <a href="#"></a>        
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
    </div>
</div>